<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="SWiCR - Sklep internetowy">
  <title>Strona główna</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Strona główna</a>
          </li>
          <li><a href="koszyk">Koszyk</a>
          </li>
	  <li><a href="profil">Moje Konto</a>
          </li>
          <li><a href="logout">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="well">
      <h3>Dzień dobry</h3>
      <p>
        Witaj {{ user }}!
      </p>
    </div>
  </div>

  <div class="container">
    <div class="well">
      <h3>Sklep</h3>
	<p>    
	<table>
	<tr>
	<th>Przedmiot</th>
	<th>Cena</th>
	<th></th>
	</tr>
	{% for item in data %}
	<tr>
	<th>{{ item[1] }}</th>
	<th>{{ item[2] }}</th>
	<th><div style="text-align:center;"><form action="koszyk_dodaj/{{ item[0] }}"><input type="submit" value="Dodaj do koszyka" /></form></div></th>
	</tr>
    	{% endfor %}
	</table>
	</p>
    </div>
  </div>

</body>

</html>
